[
  {
    "uuid": "e5759581-686d-408d-9ce7-0220be883ecd",
    "name": "admin",
    "token": "admintoken",
    "type": "user",
    "roles": [
      "s_dataset.upload",
      "s_dataset.manage",
      "s_dataset.admin"
    ]
  },
  {
    "uuid": "3433bb9e-0144-40ad-aeb9-ed51b88c3d0f",
    "name": "jasperla"
  }
]